body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

#addRow,
#removeRow,
button[type="submit"] {
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}
